.link{
    color: #cccccc;
    font-size: 2rem;
    font-family: 'int-medium';
    margin: .5rem;
}

.linkList{
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fixed{
    position: fixed;
}

.goHome{
    font-family: 'int-medium';
    font-weight: bolder;
    text-decoration: none;
    color: #868686;
    font-size: 1.4rem;
    bottom: 2.5rem;
    right: 2rem;
}