
@font-face {
    font-family: 'int-regular';
    src: url('../fonts/Inter-Regular.otf');
}

@font-face {
    font-family: 'int-medium';
    src: url('../fonts/Inter-Medium.otf');
}
body,html,#root{
    min-width: 100vw;
    min-height: 100vh;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}
